<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Best Monkey Blog Ever!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="">
    <div class="img">
    <img src="/mono.jpeg" class= "center" class="rounded mx-auto d-block" alt="">
    <div class="row">
        <div class="col"><br><br>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo vero odit, molestias et enim veniam ipsa quam eveniet accusamus illum voluptates placeat velit deserunt dignissimos, eaque incidunt ad aspernatur.
        </div>
        <div class="col">
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium eos porro possimus quaerat veritatis perspiciatis debitis assumenda, minus eius distinctio. Alias voluptate error cumque consectetur provident quisquam quo quidem harum?
        </div>
        <div class="col">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi, officiis recusandae sunt repellat amet illum nobis accusantium culpa, debitis maiores perferendis, itaque possimus? Quis nostrum ipsam doloremque officiis!
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>